# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/
bower_components/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
out/

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
*.tmp
*.swp
*.bak
*.pid
*.seed
*.pid.lock

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Compiled JavaScript
*.js
*.jsx
*.ts
*.tsx
*.map

# Static site builds
public/

**/.DS_Store

.parcel-cache/
