/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100svh;
  color: white;
  font-family: "ballinger-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.1ch;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin-block-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
}
.wrapper {
  background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), url(https://res.cloudinary.com/mjtestrun/image/upload/v1738006890/hero_paeruh.webp);
  background-size: cover;
  background-position: 0 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  place-items: center;
  margin-block: auto;
}

footer {
  margin-block-start: auto;
  background: color(display-p3 0 0 0 / 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  p {
    margin-bottom: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.social-icons {
  display: flex;
  gap: 1em;
}

footer a:hover {
  text-decoration: underline;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
  font-family: "fatfrank", sans-serif;
    letter-spacing: initial;
  font-style: normal;
}
h1,
h2 {
  text-transform: uppercase;
}

h4 {
  margin-block-end: 0.5em;
}
@keyframes static {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

h1 {
  font-size: clamp(4rem, 2vw + 1rem, 7rem);
  line-height: 1;
  margin-block-end: 0;
  /* position: relative;
	color: transparent;
	background: url('../images/static-bg.jpeg') repeat;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: cover;
	background-position: 0 0;
		*/
  animation: static 1s steps(10) infinite;
  margin-block: 1.5em 1rem;
}

header {
  background: color(display-p3 0 0 0 / 0.9);
  min-height: 1rem;
  padding: 1rem 0.5rem;
    text-align: center;

    a {
      color: inherit
    }
}

.glitch {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  position: relative;
  color: transparent;
  background: url('https://res.cloudinary.com/mjtestrun/image/upload/v1738007110/static-bg_aamn1d.avif') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: 0 0;
  text-shadow: 0.05em 0 0 color(display-p3 0.704 0.735 0.8), -0.03em -0.04em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
		0.025em 0.04em 0 #2e2d34;
  animation: 725ms glitch 2s 5;
  a {
      text-decoration: none;
    }
}
header .glitch {
  width: fit-content;
  margin: 0 auto;
}

main {
  padding-block-start: 1em;
}
@media(min-width: 640px) {
  .glitch {
    font-size: 6rem;
  }

  .text-emphasis {
    font-size: 2rem;
  }
}

@media(min-width: 768px) {
  .glitch {
    font-size: 6rem;
  }
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: 600ms glitch 1s 5;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: 475ms glitch 1s 5;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.04em 0 0 color(display-p3 0.704 0.735 0.8), -0.02em -0.03em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			0.015em 0.03em 0 #2e2d34;
  }

  15% {
    text-shadow: 0.04em 0 0 color(display-p3 0.704 0.735 0.8), -0.02em -0.03em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			0.015em 0.03em 0 #2e2d34;
  }

  16% {
    text-shadow: -0.04em -0.015em 0 color(display-p3 0.704 0.735 0.8), 0.015em 0.025em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			-0.04em -0.04em 0 #2e2d34;
  }

  49% {
    text-shadow: -0.04em -0.015em 0 color(display-p3 0.704 0.735 0.8), 0.015em 0.025em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			-0.04em -0.04em 0 #2e2d34;
  }

  50% {
    text-shadow: 0.04em 0.025em 0 color(display-p3 0.704 0.735 0.8), 0.02em 0 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			0 -0.03em 0 #2e2d34;
  }

  99% {
    text-shadow: 0.04em 0.025em 0 color(display-p3 0.704 0.735 0.8), 0.02em 0 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			0 -0.03em 0 #2e2d34;
  }

  100% {
    text-shadow: -0.04em 0 0 color(display-p3 0.704 0.735 0.8), -0.015em -0.03em 0 color(display-p3 0.165 0.063 0.278 / 0.7),
			-0.03em -0.015em 0 #2e2d34;
  }
}
header p {
  margin-block-end: 0;
}
.iframe-container {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
}
#concerts main {
  backdrop-filter: blur(50px);
  background-position: center;
  }
  
  .shows {
    background: rgba(0, 0, 0, .5);
    padding: 1em 4em;
  }
  
  .lineup {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    list-style: none;
    gap: 1em;
  }
  
  .show:not(:last-child) {
    border-block-end: 1px solid white;
    margin-block-end: 1rem;
    padding-block-end: 1rem;
}